.loadingscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 24px;
  background-color: #111111;

  z-index: 9999;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: all;
  transition: opacity 0.5s ease-in-out;

  &.inactive {
    opacity: 0;
    pointer-events: none;
  }

  .title {
    font-family: "asimilates";
  }

  .bottom {
    margin-top: 36px;

    .loader {
      width: 50px;
      aspect-ratio: 1;
      border-radius: 50%;
      border: 4px solid;
      border-color: #fff #0000;
      animation: l1 1s infinite;
    }
    @keyframes l1 {
      to {
        transform: rotate(0.5turn);
      }
    }
  }
}
