@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'asimilates';
    src: url('../fonts/asimilates-Italic.woff2') format('woff2'),
        url('../fonts/asimilates-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

p.heading {
    position: relative;
    font-family: 'Bebas Neue';
    font-size: 120px;
    color: #fefefe;
    text-align: center;
    line-height: 1;
    transform: translateY(-28px);
    z-index: 5;
}

p.italic {
    position: relative;
    font-family: 'asimilates';
    font-size: 48px;
    color: #05F4B7;
    text-align: center;
    line-height: 1;
    z-index:9;
}
