@import "config/mixins";

body {
    margin: 0;
    padding: 0;
    background-color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Lato";
}

.container {
    position: relative;
    max-width: 996px;
    margin: 0 auto;
}

h1,
h2,
h3,
p {
    margin: 0;
}

input {
    display: block;
}

a {
    color: #000000;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
